@import "tailwindcss";

@theme {
  --font-sans: 'Fredoka', 'Quicksand', sans-serif;
}

/* Animasi untuk Background Bergerak */
@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 800px 0; /* Sesuaikan dengan ukuran background-size */
  }
}

.animate-backgroundScroll {
  animation: backgroundScroll 25s linear infinite;
}